@import "journal/base";

// Journal
// Bootswatch
// bootswatch.css.less


// Original Layout =======================================================================
html, body, .wrapper, .container{
	height:100%;
}

body{
  margin-top:50px;
  background-image: image-url("cream_dust.png");
}
#leftMenu{
	margin-top: 50px;
}
#rightMenu{
	margin-top: 50px;
}
.wrapper{
  background-image: image-url("cream_dust.png");
}
.footer{
  margin-left: 10px;
  margin-right: 10px
}


// Typography =================================================================
h1 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 40px;
  line-height: 55px;
}

h2 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 35px;
  line-height: 50px;
}
h4 {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 33px;
}
h5 {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
}
p,div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
}
