@import "journal/base";

// Journal
// Bootswatch
// bootswatch.css.less


// Original Definition =======================================================================
html, body, .wrapper, .container{
	height:100%;
}

body{
  margin-top:50px;
  background-image: image-url("cream_dust.png");
}
#leftMenu{
	margin-top: 50px;
}
#rightMenu{
	margin-top: 50px;
}
.wrapper{
  background-image: image-url("cream_dust.png");
}
.footer{
  margin-left: 10px;
  margin-right: 10px
}
