<div class='container'>
  <h1>
	Select File
  </h1>
  <form role="form">
	<div class="form-group">
	  <label for="exampleInputFile">Acceleration</label>
	  <input type="file" id="acceFile">
	  <p class="help-block">Format = "StartTime StopTime Data"</p>
	</div>
	<div class="form-group">
	  <label for="exampleInputFile">Estimation</label>
	  <input type="file" id="estimationFile">
	  <p class="help-block">Format = "StartTime StopTime Actual Estimation"</p>
	</div>
	<div class="form-group">
	  <label for="exampleInputFile">LatLng</label>
	  <input type="file" id="latlngFile">
	  <p class="help-block">Format = "StartTime StopTime Lat Lng"</p>
	</div>
	<select class="form-control">
	  <option>Yusuke</option>
	  <option>Goto</option>
	</select>
	<button type="submit" class="btn btn-default" onclick="test()">Submit</button>
  </form>
</div>


<script>

	function test(){
	  alert("test");
	  // Check for the various File API support.
	  if (window.File && window.FileReader && window.FileList && window.Blob) {
		// Great success! All the File APIs are supported.
		readFile();
		} else {
		alert('The File APIs are not fully supported in this browser.');
	  }
	}

	function readFile(){
	  var files = evt.target.acceFile; // FileList object
		alert("read file")
	  // files is a FileList of File objects. List some properties.
	  var output = [];
	  for (var i = 0, f; f = files[i]; i++) {
		output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
		f.size, ' bytes, last modified: ',
		f.lastModifiedDate.toLocaleDateString(), '</li>');
	  }
	  document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	}


	//リスナーに追加しておく
	document.getElementById('acceFile').addEventListener('change', readFile, false);
	document.getElementById('estimationFile').addEventListener('change', readFile, false);
</script>
