<div class="container">
	<h1> SHOW TEST </h1>
	<div class="test">
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
</div>

<script>
	$(document).ready(function(){
		alert(gon.test);
		alert(gon.x);

		var ctx = $("#myChart").get(0).getContext("2d");
		
		var data={
			labels:gon.t,
			datasets:[
			{
				fillColor:"rgba(220,220,220,0.5)",
				strokeColor:"rgba(220,220,220,1)",
				pointColor:"rgba(220,220,220,1)",
				pointStrokeColor:"#fff",
				data:gon.x
			}
			]
		}

		new Chart(ctx).Line(data,Line.defaults);
	})
</script>
