<div class="container">
	<div class='row'>
		<div class='col-sm-4'>
			<p id="notice"><%= notice %></p>
			<ul>
				<% @stream.data_points.each{|dataPoint|} %>
					<li><%= dataPoint.id%></li>
				<% end %>
			</ul>
			<p>
		</div>
		<div class='col-sm-8'>
			<h1>Right Column</h1>
		</div>
	</div>
</div>
