<footer>
<div class="footer" style="background-color : #AAEEDD">
<HR>
	<div> Copyright (C) 2013 Yusuke Iwasawa All Rights Reserved. </div>
	<%= link_to ' contact ', contact_path%>
	<%= link_to ' term ', term_path%>
	<%= link_to ' about us ', about_path%>
	<%= link_to ' update information ', about_path%>
</div>
