<div id ="footer" class="footer row">
  <HR>
  <div class="col-sm-6"> Copyright (C) 2013 Yusuke Iwasawa All Rights Reserved. </div>
  <div align="right" class="col-sm-5 col-md-offset-1">
	<%= link_to 'About Us ●', about_path%>
	<%= link_to 'Contact ●', contact_path%>
	<%= link_to 'Terms ●', term_path%>
	<%= link_to 'Versions', about_path%>
  </div>
</div>
