<HR>
<div style="background-color : #AAEEDD>
	
Copyright (C) 2013 Yusuke Iwasawa All Rights Reserved. 
<%= link_to ' contact ', contact_path%>
<%= link_to ' term ', term_path%>
<%= link_to ' about us ', about_path%>
<%= link_to ' update information ', about_path%>
</div>
