<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <%= link_to 'DSA', root_path, :class=>"navbar-brand" %>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li><%= link_to 'Life Support', pages_map_path %></li>
		<li><a href="#about"><span class="glyphicon glyphicon-music"></span>Entertaiment</a></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理メニュー <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li class="divider"></li>
		  <li class="dropdown-header">Nav header</li>
		  <li><%= link_to 'Users', users_path %></li>
		  <li><%= link_to 'Posts', posts_path %></li>
		</ul>
		</li>
	  </ul>
	  <form class="navbar-form navbar-right">
		<a type="input" data-toggle="modal" 
		  href="#myModal" 
		  class="btn btn-primary"> Sign Up</a>
		<a type="input" data-toggle="modal"
		  href="#addNewModal"
		  class="btn btn-default"> Sign In</a>
	  </form>
	</div><!--/.nav-collapse -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dataSelectModal" tabindex="-1" role="dialog" aria-labelleadby="addNewLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		</button>
		<h3 class="modal-title">Select Data</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal" role="form">
		  <div class="form-group">
			<label class="col-lg-2 control-label" for="colorFile"> Color File</label>
			<div class="col-lg-10">
			  <input type="file" id="colorFile">
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-lg-2 control-label" for="latlngFile"> LatLng File</label>
			<div class="col-lg-10">
			  <input type="file" id="latlngFile">
			</div>
		  </div>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelleadby="addNewLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		</button>
		<h3 class="modal-title">Please input your user name and password</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal" role="form">
		  <div class="form-group">
			<label class="col-lg-2 control-label" for="userNameInput"> User Name</label>
			<div class="col-lg-10">
			  <input type="email" class="form-control" id="userNameInput" placeholder="Enter email">
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-lg-2 control-label" for="passwordInput"> Password</label>
			<div class="col-lg-10">
			  <input type="password" class="form-control" id="passwordInput" placeholder="Password">
			</div>
		  </div>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">Sign In!</button>
	  </div>
	</div>
  </div>
</div>

<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" 
  aria-labelleadby="addNewLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-body">
		<form class="form-signin">
		  <h2 class="form-sigin-heading">Please register your information</h2>
		  <input type="text" class="form-control" placeholder="Email address" autofocus>
		  <input type="password" class="form-control" placeholder="Password">
		  <label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		  </label>
		  <div class="row">
			<div class="col-sm-6">
			  <button class="btn btn-lg btn-default btn-block" type="submit">Cancel</button>
			</div>
			<div class="col-sm-6">
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>
