<h1>Contuct Us</h1>
<p>書いてくれる人募集中</p>
<form class="form-horizontal">
	<blockquote>
		<p>お問い合わせ</p>
	</blockquote>
	<span class="glyphicon glyphicon-briefcase"> 会社名</span>
	<div class="form-group">
		<div class="col-md-4">
			<input type="text" id="companyName" class="form-control" placeholder="キャスレーコンサルティング株式会社">
		</div>
	</div>
	<span class=" glyphicon glyphicon-user"> 名前</span>
	<div class="form-group">
		<div class="col-md-4">
			<input type="text" id="name" class="form-control" placeholder="山田太郎">
		</div>
	</div>
	<span class=" glyphicon glyphicon-envelope"> メールアドレス</span>
	<div class="form-group">
		<div class="col-md-4">
			<input type="email" id="mailAddress" class="form-control" placeholder="example@example.jp">
		</div>
	</div>
	<span class=" glyphicon glyphicon-phone-alt"> 担当者電話番号</span>
	<div class="form-group">
		<div class="col-md-4">
			<input type="tel" id="telNo" class="form-control" placeholder="03-6271-1410">
		</div>
	</div>
	<span class=" glyphicon glyphicon glyphicon-pencil"> お問い合わせ内容</span>
	<div class="form-group">
		<div class="col-md-4">
			<textarea id="inquiry" class="form-control" rows="10"></textarea>
		</div>
	</div>
	<button class="btn btn-primary">
		<span class="glyphicon glyphicon-send">　送信
		</button>
	</form>
